<p id="notice"><%= notice %></p>
<%= link_to 'Create new event', new_event_path,id:"event_new", class: "new",remote: true %>

<h1>Your Events</h1>

<%= render partial:'events/events',locals: {events:@events} %>

<br>



<h1>Event in which you are a member</h1>
<%= render partial:'events/attached',locals: {attached:@attached} %>

<br>


